:root {
    --background-color: #a0bfee;
    --field-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);
}

main {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}

#gameboard {
    width: 600px;
    height: 600px;
    margin: 60px auto;
    background-color: #a0bfee;

    font-size: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#gameboard div {
    background-color: var(--field-color);
}

footer {
    font-size: larger;
    width: 100%;
    padding: 1rem;
    background-color: var(--field-color);

    display: flex;
    justify-content: space-between;
}

#message {
    text-align: center;
    font-size: 3rem;
}

button {
    background-color: var(--background-color);
    font-size: 2rem;
}